body {
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
}
#div1 {
  color: blue;
}
#div2 {
  width: 200px;
}
p {
  padding: 5px;
}
#helloworld {
  color: #ff5722;
  float: none;
  z-index: auto;
  float: left;
  width: 300px;
}
#morning {
  color: red;
  /* float: right; */
}
.hello {
  font-size: 20px;
}
input[type="reset"] {
  color: green;
}
#table_container {
  width: 400px;
  border: 1px solid blue;
}
table {
  font-size: 15px;
}
/* table th {
  color: red;
} */
#simple_table th {
  color: red;
}
#simple_table td {
  border: 1px solid grey;
}
/* .third_column {
  color: green;
} */
#simple_table td:nth-child(1) {
  color: green;
}
#simple_table {
  width: 400px;
  height: 200px;
  border: 1px solid green;
}
#contact_form {
  width: 400px;
  border: 1px solid green;
  background-color: chocolate;
  background-image: url("../images/hello.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 100px;
}
#contact_form input[type="text"] {
  width: 200px;
  height: 30px;
}
#submit_btn {
  /* margin-top: 20px;
  margin-left: 100px;
  margin-bottom: 20px; */
  margin: 20px 5px 20px 100px;
  color: beige;
  background-color: blue;
  text-align: center;
  padding: 10px;
}
#lists {
  width: 200px;
  border: 1px solid blue;
}
#lists ul li {
  color: red;
}

#lists ul li:nth-child(1) {
  color: yellow;
}

#lists ol li {
  color: green;
}
