body {
  background-color: lightblue;
  font-family: "Times New Roman", Times, serif;
}
#div2 {
  width: 200px;
}
p {
  padding: 5px;
}
#helloworld {
  color: #ff5722;
  float: none;
  z-index: auto;
  float: left;
  width: 300px;
}
#morning {
  color: red;
  float: right;
}
.hello {
  font-size: 20px;
}
input[type="button"] {
  color: green;
}
table {
  font-size: 15px;
}
/* table th {
  color: red;
} */
#simple_table th {
  color: red;
}
#simple_table {
  width: 400px;
  height: 200px;
  border: 1px solid green;
}
#contact_form {
  width: 400px;
  border: 1px solid green;
}
#submit_btn {
  margin-left: 100px;
  margin-bottom: 20px;
  color: beige;
  background-color: blue;
}
