body {
  background-color: lightblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
  padding: 5px;
}
#helloworld {
  color: #ff5722;
}
#morning {
  color: red;
}
.hello {
  font-size: 20px;
}
input[type="button"] {
  color: green;
}
table {
  font-size: 15px;
}
#simple_table {
  width: 400px;
  height: 200px;
  border: 1px solid green;
}
#contact_form {
  width: 400px;
  border: 1px solid green;
}
