#helloworld {
  color: green;
}
#morning {
  color: red;
}
.hello {
  font-size: 20px;
}
input[type="button"] {
  color: green;
}
#simple_table {
  width: 400px;
  height: 200px;
}
#contact_form {
  width: 400px;
  border: 1px solid green;
}
#simple_table {
  width: 400px;
  border: 1px solid green;
}
